name: release
on:
  workflow_dispatch: null
  release:
    types: [ published ]
jobs:
  galaxyrelease:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: update packages
        run: sudo apt-get update -y

      - name: install make
        run: sudo apt-get install -y build-essential

      - name: setup python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: build the package
        run: make build
        env:
          SPECDOC_VERSION: ${{ github.event.release.tag_name }}

      - name: publish the release to pypi
        uses: pypa/gh-action-pypi-publish@f7600683efdcb7656dec5b29656edb7bc586e597 # pin@v1.10.3
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
